PORT=8787
HOST=0.0.0.0
ZITADEL_API_BASE=https://ahmeds-auth-qaw8wn.eu1.zitadel.cloud
ZITADEL_SERVICE_TOKEN=replace-with-a-token-that-has-session.write-and-session.read
ZITADEL_GOOGLE_IDP_ID=replace-with-google-idp-id
ZITADEL_APPLE_IDP_ID=replace-with-apple-idp-id
ZITADEL_ORGANIZATION_ID=replace-with-organization-id
ZITADEL_PASSKEY_DOMAIN=replace-with-your-passkey-domain.example.com
